<!DOCTYPE html>
<html lang="en" ng-app="app">

<head>
    <meta charset="UTF-8">

    <title>ng-repeat demo
    </title>
    <style>
        body {
            font-size: 1.2em;
        }
    </style>
    <script type="text/javascript" src="angular.min.js">

    </script>
    <script src="app.js" charset="utf-8"></script>
</head>

<body ng-controller="FilterController">
    <h1>Filtered ng-repeat demo</h1>
    <h3>Shopping List:</h3>
    <input type="text" ng-model="search">

    <ul>
        <li ng-repeat="item in shoppingList | filter:search">{{item}}</li>
    </ul>
</body>

</html>